<h1>Overview</h1>
<%= link_to "New Share", new_share_path %>
<hr>
<% @shares.each do |share| %>
  <div>
    <%= image_tag share.image.url(:medium) %>
    <h2><%= share.artist %></h2>
    <p><%= share.album %></p>
    <%= link_to "download", share.url %>
  </div>
<% end %>
