<div class="share">
  <div class="share__image">
    <%= image_tag share.image.url %>
  </div>
  <div class="share__content">
    <div class="share__header">
      <h2><%= share.artist %> &ndash; <%= share.album %></h2>
    </div>

    <small>Posted by: <%= share.user.username %></small>
    <%= link_to "download", share.url %>
  </div>
</div>
