<!DOCTYPE html>
<html>
  <head>
    <title>Badvibes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <header class="global-header">
      <div class="wrapper">
        <div class="global-header__logo">
          <%= button_to "Badvibes", root_path, method: :get, class: "btn btn--brand" %>
        </div>
        <div class="global-header__actions">
          <% if signed_in? %>
            <span class="username"><%= current_user.username %></span>
            <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn--header" %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
